@charset "UTF-8";
/*---------------------------------------------------------------
  [Reset]
-----------------------------------------------------------------*/
html,
body {
  font-size: 10px;
  font-weight: 400;
}

body {
  min-width: 1920px;
  overflow-x: auto;
  font-family: Pretendard, Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Pretendard, Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

em,
i {
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table tbody {
  vertical-align: top;
}

img {
  width: 100%;
}

button {
  width: 100%;
  border: 0;
  font-family: Pretendard, Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: transparent;
  cursor: pointer;
}

select {
  outline: 0;
  cursor: pointer;
}

textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #e8e8e8;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: #727272;
  outline: 0;
  resize: none;
}

label {
  cursor: pointer;
}

input,
optgroup,
select,
textarea {
  font-family: Pretendard, Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

input[type=date] {
  border: 0;
  outline: 0;
}

/* 웹폰트 */
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url("/base/font/Pretendard-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url("/base/font/Pretendard-ExtraBold.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("/base/font/Pretendard-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("/base/font/Pretendard-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("/base/font/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("/base/font/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("/base/font/Pretendard-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url("/base/font/Pretendard-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("/base/font/Pretendard-Thin.woff2") format("woff2");
}
/*---------------------------------------------------------------
  [help class]
-----------------------------------------------------------------*/
.screen-out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.pdl-15 {
  padding-left: 1.5rem !important;
}

.pdr-20 {
  padding-right: 2rem !important;
}

/*---------------------------------------------------------------
  [overwrite style]
  - menu
-----------------------------------------------------------------*/
.ui {
  font-family: Pretendard, Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}
.ui.checkbox input:active ~ label, .ui.checkbox input:focus ~ label {
  color: inherit;
}
.ui.checkbox label {
  cursor: pointer;
}
.ui.segment {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}
.ui.menu {
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border: 0;
}
.ui.menu.vertical {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.ui.menu.vertical .item:hover {
  color: #ffe298;
  background: transparent;
}
.ui.menu.vertical .dropdown.item:hover .dropdown.icon::before {
  background: url("/base/images/arr_down_yellow.png") no-repeat 48% 50% !important;
  background-size: 1.3rem 0.7rem !important;
}
.ui.menu.vertical .dropdown.item.active:hover {
  color: #ffe298;
  background: transparent;
}
.ui.menu.vertical .dropdown.item.active:hover .dropdown.icon::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.ui.menu.vertical .dropdown.item.active.item {
  background: transparent;
}
.ui.menu.vertical .dropdown.item:active {
  color: #ffe298;
}
.ui.menu.vertical .dropdown.item > .dropdown.icon {
  width: auto;
  height: auto;
  margin: 0 0 0 auto;
}
.ui.menu.vertical .dropdown.item > .dropdown.icon::before {
  content: "";
  display: block;
  width: 3rem;
  height: 2.5rem;
  background: url("/base/images/arr_down_white.png") no-repeat 50% 50% !important;
  background-size: 1.3rem 0.7rem !important;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}
.ui.tabular.menu {
  all: initial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ui.tabular.menu .item {
  all: initial;
  text-align: center;
}
.ui.tabular.menu .item::before {
  all: initial;
}
.ui.tabular.menu .item.active {
  all: initial;
  border-radius: 0 !important;
}
.ui.tab.segment {
  all: initial;
  display: none;
}
.ui.tab.segment.active {
  display: block;
}

/*---------------------------------------------------------------
  [component]
  - 아이콘
  - 브레드크럼
  - 인풋박스
  - 버튼
  - 탭메뉴
  - 체크박스
  - 셀렉트박스
  - 라디오버튼
  - 지도에서 사용하는 UI
  - 레이블 + form 요소
  - 테이블
  - 페이징
  - 필터
  - 달력
  - 기능 버튼 그룹
  - 프로그래스바
  - 체크박스 리스트 아코디언 메뉴(연계 카메라 등록 팝업)
-----------------------------------------------------------------*/
.ico-cw {
  width: 4.7rem;
  height: 6rem;
  background-image: url("/base/images/icon_cw.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.ico-cr {
  width: 4.2rem;
  height: 5.5rem;
  background-image: url("/base/images/icon_cr.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.ico-camera {
  width: 4rem;
  height: 4rem;
  background-image: url("/base/images/icon_camera.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.ui.breadcrumb {
  display: block;
  font-size: 1.4rem;
}
.ui.breadcrumb .icon.home {
  font-size: 1.7rem;
  color: #adadad;
}
.ui.breadcrumb .icon.divider {
  opacity: 1;
  color: #adadad;
  font-size: 1.4rem;
}
.ui.breadcrumb .section,
.ui.breadcrumb .section.active {
  color: #adadad;
  font-weight: 400;
}
.ui.input {
  width: 100%;
}
.ui.input input {
  width: 100%;
  font-size: 1.8rem;
}
.ui.input input:disabled {
  border-color: #e8e8e8 !important;
  background: #f8f8f8;
  opacity: 1 !important;
}
.ui.input.md input {
  line-height: 3rem;
  padding: 0;
  border-radius: 0;
  border-color: #e0e0e0;
}
.ui.input.rounded input {
  padding: 0 1rem;
  line-height: 3.5rem;
  border-radius: 0.5rem;
  border-color: #e8e8e8;
}
.ui.button {
  font-size: 1.8rem;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.ui.button.basic.primary {
  height: auto;
  line-height: 3rem;
  margin: 0;
  padding: 0 1.6rem;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-weight: 500;
  color: #fff !important;
  background: #1e5f8d !important;
}
.ui.button.basic.primary.rounded {
  line-height: 3.3rem;
  border-radius: 6px;
}
.ui.button.basic.primary:hover, .ui.button.basic.primary:focus, .ui.button.basic.primary:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #fff !important;
  background: #0f3f62 !important;
}
.ui.button.basic.secondary {
  width: auto;
  height: auto;
  line-height: 3.1rem;
  margin: 0;
  padding: 0 1.4rem;
  font-weight: 600;
  color: #1e5f8d !important;
  border: 1px solid #1e5f8d !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.ui.button.basic.secondary.c-gray {
  padding: 0.6rem 2rem;
  line-height: 100%;
  color: #727272 !important;
  font-size: 1.6rem;
  font-weight: 400;
  border-color: #cbcbcb !important;
}
.ui.button.basic.secondary.c-gray:hover, .ui.button.basic.secondary.c-gray:focus, .ui.button.basic.secondary.c-gray:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #727272 !important;
  background: #e8e8e8 !important;
}
.ui.button.basic.secondary.c-gray-type2 {
  padding: 0.4rem 1.2rem;
  line-height: 100%;
  color: #727272 !important;
  font-size: 1.8rem;
  font-weight: 400;
  border-color: #727272 !important;
}
.ui.button.basic.secondary.c-gray-type2:hover, .ui.button.basic.secondary.c-gray-type2:focus, .ui.button.basic.secondary.c-gray-type2:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #727272 !important;
  background: #e8e8e8 !important;
}
.ui.button.basic.secondary.rounded {
  border-radius: 6px;
}
.ui.button.basic.secondary.extend {
  width: 100%;
  line-height: 3.4rem;
}
.ui.button.basic.secondary:hover, .ui.button.basic.secondary:focus, .ui.button.basic.secondary:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #1e5f8d !important;
  background: #e8e8e8 !important;
}
.btn-small {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  background: rgba(255, 255, 255, 0.2);
  font-size: 1.2rem;
  color: #fff;
}
.btn-small:hover {
  color: #fff;
}

.ui.buttons.basic {
  border: 0;
}
.ui.buttons.basic .button {
  font-size: 1.8rem;
}
.ui.primary-chkbox {
  min-width: 2.2rem;
  min-height: 2.2rem;
  line-height: 2.2rem;
}
.ui.primary-chkbox label::before,
.ui.primary-chkbox label::after,
.ui.primary-chkbox input[type=checkbox] {
  width: 2.2rem;
  height: 2.2rem;
}
.ui.primary-chkbox.txt-none label {
  font-size: 0;
}
.label-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 1.2rem;
}
.label-dropdown > em {
  font-size: 2rem;
  font-weight: 600;
  color: #1e5f8d;
}

.label-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 1.2rem;
}
.label-input > em {
  font-size: 2rem;
  font-weight: 600;
  color: #1e5f8d;
}
.label-input .input.md {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.label-input .input.md input {
  width: 12.4rem;
}

.ui.basic.table {
  line-height: 100%;
}
.ui.basic.table.is-fncbtn thead th {
  padding: 1.4rem 0 !important;
  line-height: 100%;
}
.ui.basic.table.is-fncbtn tbody td {
  padding-top: 0.95rem;
  padding-bottom: 0.95rem;
}
.ui.basic.table.is-chkbox-fncbtn-none thead th {
  padding: 1.4rem 0 !important;
  line-height: 100%;
}
.ui.basic.table.is-chkbox-fncbtn-none tbody td {
  padding-top: 1.53rem;
  padding-bottom: 1.53rem;
  line-height: 100%;
}
.ui.basic.table thead th {
  padding: 1.2rem 0 !important;
  font-size: 1.8rem;
  font-weight: 600;
  color: #1e5f8d;
  text-align: center;
  background: #ebf8ff;
}
.ui.basic.table tbody td {
  padding: 1.23rem 1.4rem;
  font-size: 1.6rem;
  color: #727272;
  text-align: center;
  vertical-align: middle;
}
.ui.basic.table tbody td:first-child {
  padding-left: 1.4rem !important;
}
.data-tbl tbody th {
  padding-bottom: 1.6rem;
  font-size: 1.8rem;
  color: #727272;
  font-weight: 600;
  text-align: left;
  vertical-align: middle;
}
.data-tbl tbody th.rowspan-style1 {
  padding-top: 1.5rem;
  vertical-align: top;
}
.data-tbl tbody td {
  padding-bottom: 1.6rem;
  vertical-align: middle;
  color: #727272;
}
.data-tbl tbody td .ui.input > input,
.data-tbl tbody td .selectbox-wrap select {
  color: #727272;
}
.data-tbl tbody tr:last-child th,
.data-tbl tbody tr:last-child td {
  padding-bottom: 0;
}
.data-tbl.view table {
  border-top: 2px solid #cbcbcb;
  border-bottom: 2px solid #cbcbcb;
}
.data-tbl.view table tbody th {
  padding: 1rem 1.5rem;
  background: #f8f8f8;
  border-bottom: 1px solid #e8e8e8;
}
.data-tbl.view table tbody td {
  padding: 1rem 1.5rem;
  line-height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  border-bottom: 1px solid #e8e8e8;
}
.data-tbl.view table tbody tr:last-child th,
.data-tbl.view table tbody tr:last-child td {
  border-bottom: 0;
}
.data-tbl .height-extend {
  overflow-y: auto;
  height: 10rem;
  vertical-align: top;
}

.ui.tabular.menu.rounded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  overflow: hidden;
  width: auto;
  margin: 0 2.35rem;
  border-radius: 0.8rem;
  border: 1px solid #cbcbcb;
}
.ui.tabular.menu.rounded .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 0.4rem;
  line-height: 3.9rem;
  color: #727272;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.ui.tabular.menu.rounded .item:not(:first-child) {
  border-left: 1px solid #cbcbcb;
}
.ui.tabular.menu.rounded .item::before {
  content: "";
  display: block;
}
.ui.tabular.menu.rounded .item[data-tab=first]::before {
  width: 1.1rem;
  height: 1.1rem;
  background-image: url("/base/images/icon_signal_gray.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.ui.tabular.menu.rounded .item[data-tab=second]::before {
  width: 1.6rem;
  height: 0.8rem;
  background-image: url("/base/images/icon_video_gray.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.ui.tabular.menu.rounded .item[data-tab=third]::before {
  width: 1.5rem;
  height: 0.82rem;
  background-image: url("/base/images/icon_eye_gray.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.ui.tabular.menu.rounded .item.active {
  text-align: center;
  font-weight: 600;
  color: #fff;
  background: #03a0fc;
  cursor: pointer;
}
.ui.tabular.menu.rounded .item.active[data-tab=first]::before {
  background-image: url(/base/images/icon_signal_white.png);
}
.ui.tabular.menu.rounded .item.active[data-tab=second]::before {
  background-image: url(/base/images/icon_video_white.png);
}
.ui.tabular.menu.rounded .item.active[data-tab=third]::before {
  background-image: url(/base/images/icon_eye_white.png);
}

/* 셀렉트박스 */
.selectbox-wrap select {
  width: 100%;
  border: 1px solid #e0e0e0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(/base/images/arr_down_blue.png) no-repeat calc(100% - 0.8rem) 50%;
  background-size: 0.9rem 0.5rem;
}
.selectbox-wrap.primary select {
  height: 3rem;
  padding: 0.4rem 3.2rem 0.4rem 0.6rem;
  border: 1px solid #e0e0e0;
  font-size: 1.8rem;
  color: #1e5f8d;
}
.selectbox-wrap.rounded select {
  border-radius: 0.5rem;
  padding: 0.7rem;
  font-size: 1.8rem;
  background: url(/base/images/arr_down_gray.png) no-repeat calc(100% - 1rem) 50%;
  background-size: 1.2rem 0.6rem;
}
.selectbox-wrap.rounded select:disabled {
  border-color: #e8e8e8;
  background-color: #f8f8f8;
  opacity: 1;
}

/* 라디오버튼 */
.radio-txt {
  position: relative;
  display: inline-block;
}
.radio-txt input {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.radio-txt input:checked + span {
  color: #fff;
  background: #1e5f8d;
}
.radio-txt span {
  display: inline-block;
  padding: 1rem;
  border: 1px solid #1e5f8d;
  font-size: 1.8rem;
  font-weight: 600;
  color: #1e5f8d;
  text-align: center;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.radio-txt.rounded span {
  border-radius: 0.5rem;
}

.radio-txt2 {
  position: relative;
  display: inline-block;
}
.radio-txt2 input {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.radio-txt2 input:checked + span {
  color: #fff;
  border-color: #727272;
  background: #727272;
}
.radio-txt2 span {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border: 1px solid #999999;
  font-size: 1.2rem;
  font-weight: 500;
  color: #999999;
  text-align: center;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.radio-txt2.rounded span {
  border-radius: 0.5rem;
}

/* 지도에서 사용하는 UI */
.map-type {
  overflow: hidden;
  position: absolute;
  top: 1.8rem;
  right: 1.9rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 0.5rem;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.map-type input {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.map-type input:checked + span {
  color: #fff;
  background: #0993ce;
}
.map-type label span {
  display: block;
  padding: 0.5rem 1.25rem;
  line-height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  color: #727272;
  background: #fff;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.ui.dropdown.area-box {
  all: initial;
  position: absolute;
  top: 4.8rem;
  right: 1.9rem;
  z-index: 1;
  padding: 0.8rem 3rem 0.8rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #727272;
  background: #fff;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  cursor: pointer;
}
.ui.dropdown.area-box.active::after {
  top: calc(50% - 0.55rem);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.ui.dropdown.area-box.active:hover {
  border: 0;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.ui.dropdown.area-box.active .menu {
  border: 0;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
}
.ui.dropdown.area-box.active .menu:hover {
  border: 0;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
}
.ui.dropdown.area-box:hover {
  border: 0;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.ui.dropdown.area-box::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.45rem);
  right: 0.7rem;
  width: 1.4rem;
  height: 0.9rem;
  background-image: url("/base/images/arr_down_blue.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.ui.dropdown.area-box > .text {
  line-height: 1.9rem;
}
.ui.dropdown.area-box .menu {
  min-width: calc(100% + 0.01rem);
  width: calc(100% + 0.01rem);
  margin: 0;
  border-radius: 0.5rem;
}
.ui.dropdown.area-box .menu .item {
  padding: 0.8rem !important;
  font-size: inherit;
}
.ui.dropdown.area-box .menu .item:hover {
  background: none;
  color: #03a0fc;
}
.ui.dropdown.area-box .menu .item.selected {
  background: #fff;
  color: inherit;
}
.ui.dropdown.area-box .menu .item.selected:hover {
  color: #03a0fc;
}
.ui.dropdown.area-box .menu .item.active {
  font-weight: 700;
  color: #03a0fc;
}
.ui.dropdown.area-box .menu .area-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 0.4rem;
  padding: 0.5rem 0;
  margin: 0.4rem;
  border-radius: 0.3rem;
  background: #e8e8e8;
  font-size: 1.2rem;
  font-weight: 400;
  color: #727272;
}
.ui.dropdown.area-box .menu .area-setting::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("/base/images/icon_sawtooth.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.los-legend {
  position: absolute;
  right: 1.9rem;
  bottom: 1.9rem;
  z-index: 1;
  font-size: 1.2rem;
  color: #797979;
  border-radius: 0.5rem;
  background: #fff;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.los-legend dt {
  padding: 0.6rem 0.8rem;
  font-weight: 500;
  border-bottom: 1px solid #e8e8e8;
}
.los-legend dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  padding: 0.2rem 0.4rem;
}
.los-legend dd ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.los-legend dd ul:last-child li {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.los-legend dd ul li {
  height: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 0.4rem;
}
.los-legend dd ul li::before {
  content: "";
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
}
.los-legend dd ul li.lv-a::before {
  background: #0993ce;
}
.los-legend dd ul li.lv-b::before {
  background: #4fb500;
}
.los-legend dd ul li.lv-c::before {
  background: #ffb800;
}
.los-legend dd ul li.lv-d::before {
  background: #e57003;
}
.los-legend dd ul li.lv-e::before {
  background: #d40000;
}
.los-legend dd ul li.lv-f::before {
  background: #892121;
}
.los-legend dd ul li.lv-ff::before {
  background: #9e007b;
}
.los-legend dd ul li.lv-fff::before {
  background: #37007c;
}

.los-display {
  position: absolute;
  z-index: 1;
  width: 9.8rem;
  height: 9.8rem;
  border-radius: 9.8rem;
  text-align: center;
}
.los-display.lv-a {
  background: rgba(9, 147, 206, 0.3);
}
.los-display.lv-b {
  background: rgba(79, 181, 0, 0.3);
}
.los-display.lv-c {
  background: rgba(250, 167, 26, 0.3);
}
.los-display.lv-d {
  background: rgba(229, 112, 3, 0.3);
}
.los-display.lv-e {
  background: rgba(212, 0, 0, 0.3);
}
.los-display.lv-f {
  background: rgba(137, 33, 33, 0.3);
}
.los-display.lv-ff {
  background: rgba(158, 0, 123, 0.3);
}
.los-display.lv-fff {
  background: rgba(55, 0, 124, 0.3);
}
.los-display .ico-cr {
  position: relative;
  z-index: 3;
  display: inline-block;
  margin-top: 0.6rem;
}
.los-display .traffic-display {
  position: absolute;
  z-index: 2;
  border: 1.5px solid #208942;
  background: #35b558;
}
.los-display .traffic-display.c-orange {
  border-color: #803e00;
  background: #e57003;
}
.los-display .traffic-display.c-red {
  border-color: #800000;
  background: #d40000;
}
.los-display .traffic-display.top {
  left: 50%;
  top: 0;
  width: 1.3rem;
  height: 7.5rem;
  margin-top: -3.55rem;
  margin-left: -0.65rem;
  border-radius: 0.3rem 0.3rem 0.8rem 0.8rem;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.los-display .traffic-display.bottom {
  left: 50%;
  bottom: 0;
  width: 1.3rem;
  height: 7.5rem;
  margin-bottom: -3.35rem;
  margin-left: -0.65rem;
  border-radius: 0.8rem 0.8rem 0.3rem 0.3rem;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.los-display .traffic-display.left {
  left: 0;
  top: 50%;
  width: 7.5rem;
  height: 1.3rem;
  margin-top: -0.65rem;
  margin-left: -3.55rem;
  border-radius: 0.3rem 0.8rem 0.8rem 0.3rem;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.los-display .traffic-display.right {
  right: 0;
  top: 50%;
  width: 7.5rem;
  height: 1.3rem;
  margin-top: -0.65rem;
  margin-right: -3.35rem;
  border-radius: 0.8rem 0.3rem 0.3rem 0.8rem;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

/* 페이징 */
.paging-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 1rem;
  margin-top: 2.8rem;
  font-size: 1.8rem;
  font-weight: 300;
}
.paging-group a {
  line-height: 2rem;
  color: #a7a7a7;
}
.paging-group [class*=btn] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 0.4rem;
}
.paging-group .btn-first {
  width: 2rem;
  height: 2rem;
  background-image: url("/base/images/icon_paging_arr_double.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.paging-group .btn-prev {
  width: 2rem;
  height: 2rem;
  background-image: url("/base/images/icon_paging_arr.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  margin-left: -0.6rem;
  margin-right: 0.6rem;
}
.paging-group .btn-next {
  width: 2rem;
  height: 2rem;
  background-image: url("/base/images/icon_paging_arr.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 0.6rem;
  margin-right: -0.6rem;
}
.paging-group .btn-end {
  width: 2rem;
  height: 2rem;
  background-image: url("/base/images/icon_paging_arr_double.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.paging-group .selectbox-wrap {
  margin-left: 0.3rem;
}
.paging-group .selectbox-wrap select {
  min-width: 5.7rem;
  height: 2.6rem;
  line-height: 100%;
  padding: 0.4rem 2.4rem 0.4rem 0.2rem;
  font-weight: 300;
  color: #a7a7a7;
  background-image: url(/base/images/arr_down_gray.png);
}

/* 필터 */
.filter-grouop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.filter-grouop .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0 1.8rem;
}
.filter-grouop .label-dropdown,
.filter-grouop .label-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.filter-grouop .ui.basic.button {
  width: auto;
}
.filter-grouop .date-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 1.6rem;
  height: 3rem;
  padding: 0 0.8rem;
  border: 1px solid #e0e0e0;
}
.filter-grouop .date-group i {
  font-size: 1.6rem;
}

/* 달력 */
.input-date {
  position: relative;
  width: 11.7rem;
  padding-right: 0.5rem;
  font-size: 1.6rem;
  color: #727272;
  background: url(/base/images/icon_calendar.png) no-repeat right center;
  background-size: 1.8rem 1.8rem;
}
.input-date::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
}

/* 기능 버튼 그룹 */
.button-function-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.button-function-group .ui.buttons {
  gap: 0 4px;
}
.button-function-group .ui.secondary.button {
  min-width: 8rem;
}

/* 프로그래스바 */
.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  gap: 0 0.2rem;
}
.progress-bar span {
  line-height: 2.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.progress-bar .road1 {
  background: #a6a6a6;
}
.progress-bar .road2 {
  background: #ff9797;
}
.progress-bar .road3 {
  background: #9e90f0;
}
.progress-bar .road4 {
  background: #ffd056;
}
.progress-bar-legend div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-right: 1.5rem;
}
.progress-bar-legend div + div {
  margin-top: 0.7rem;
}
.progress-bar-legend div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 0.6rem;
  font-size: 1.4rem;
  color: #727272;
}
.progress-bar-legend div span::before {
  content: "";
  display: block;
  width: 1.18rem;
  height: 1.18rem;
  border-radius: 100%;
}
.progress-bar-legend div span em {
  font-weight: 700;
}
.progress-bar-legend div .road1::before {
  background: #a6a6a6;
}
.progress-bar-legend div .road2::before {
  background: #ff9797;
}
.progress-bar-legend div .road3::before {
  background: #9e90f0;
}
.progress-bar-legend div .road4::before {
  background: #ffd056;
}

/* 체크박스 리스트 아코디언 메뉴(연계 카메라 등록 팝업) */
.chk-list-container {
  overflow-y: auto;
  max-height: 46.2rem;
  border-radius: 0.5rem;
  border: 1px solid #e8e8e8;
  background: #fff;
}
.chk-list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 0.8rem;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.chk-list-title:first-child {
  border-top: 0;
}
.chk-list-title:nth-last-of-type(2) {
  border: 0;
}
.chk-list-title.active button::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.chk-list-title .ui.primary-chkbox {
  margin-left: 1.5rem;
}
.chk-list-title button {
  position: relative;
  padding: 1rem 1.5rem 1rem 0;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 500;
  color: #727272;
}
.chk-list-title button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.5rem;
  margin-top: -0.4rem;
  width: 1.5rem;
  height: 0.8rem;
  background-image: url("/base/images/arr_down_gray.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.chk-list-content {
  display: none;
}
.chk-list-content .ui.primary-chkbox {
  display: block;
  padding: 1rem 0.6rem 1rem 3rem;
  background: #f8f8f8;
}
.chk-list-content .ui.primary-chkbox + .ui.primary-chkbox {
  border-top: 1px solid #e8e8e8;
}
.chk-list-content .ui.primary-chkbox label {
  padding-left: 0;
  font-size: 1.8rem;
  color: #727272;
}
.chk-list-content .ui.primary-chkbox label::before {
  content: "";
  position: static;
  display: inline-block;
  margin-right: 0.8rem;
  vertical-align: top;
}

/* 데이터 테이블 목록 */
.data-tbl-very {
  overflow-y: auto;
  height: 61.6rem;
  border-bottom: 1px solid #e8e8e8;
}
.data-tbl-very thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

/*---------------------------------------------------------------
  [모달 팝업]
-----------------------------------------------------------------*/
.blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 10;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
}
.blocker.behind {
  background-color: transparent;
}

.modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 0.5rem;
  text-align: left;
}
.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.modal-spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #111;
  height: 20px;
}
.modal-spinner > div {
  border-radius: 100px;
  background-color: #fff;
  height: 20px;
  width: 2px;
  margin: 0 1px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
          animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.modal-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.modal-spinner .rect3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.modal-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
/*---------------------------------------------------------------
  [모달 팝업 커스텀]
-----------------------------------------------------------------*/
.blocker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.modal a.close-modal {
  top: 1.6rem;
  right: 1.8rem;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(/base/images/btn_close_gray.png);
}
.modal-container {
  background: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.4rem 0.4rem 1.2rem 0rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.4rem 0.4rem 1.2rem 0rem rgba(0, 0, 0, 0.1);
}
.modal-container.medium {
  width: 79rem;
}
.modal-header {
  padding: 1.4rem 1.8rem;
  border-bottom: 1px solid #e8e8e8;
}
.modal-header .tit {
  line-height: 2.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #1e5f8d;
}
.modal-body .data-tbl {
  padding: 2.2rem 3rem 0;
}
.modal-body .data-tbl.view {
  padding: 2.5rem 3rem 0;
}
.modal-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 0.4rem;
  margin-top: 0.8rem;
  padding: 1rem 3rem 2.5rem;
}
.modal-bottom.button-both {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal-bottom .ui.button.basic {
  width: 8rem;
}

/*---------------------------------------------------------------
  [딤드 없는 팝업]
-----------------------------------------------------------------*/
.camera-popup {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 28.1rem;
  padding: 1rem 1rem 1.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
  background: #3d3d3d;
}
.camera-popup-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.camera-popup-header .tit {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}
.camera-popup-header .bind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 0.4rem;
}
.camera-popup-header .bind .btn-popup-close {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("/base/images/btn_close_white_small.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1rem 1rem;
}
.camera-popup-content {
  padding: 1.1rem 0;
}
.camera-popup-bottom .tit {
  display: block;
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}
.camera-popup-bottom .bind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 1rem;
}
.camera-popup-bottom .bind span {
  font-size: 1.2rem;
  color: #fff;
}
.camera-popup-bottom .bind span em {
  display: inline-block;
  margin-left: 0.2rem;
  font-size: 1.4rem;
  color: #ffd056;
  font-weight: 500;
}
.camera-popup-bottom .bind span i {
  display: inline-block;
  font-size: 1.2rem;
  color: #ffd056;
}

/*---------------------------------------------------------------
  [공통]
-----------------------------------------------------------------*/
/* 레이아웃 */
.wrapper {
  min-height: 100%;
}
.wrapper.is-crossroad-view.is-fold .crossroad-view-container {
  left: -36.8rem;
}
.wrapper.is-crossroad-view.is-fold .crossroad-view-container .btn-crossroad-view::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.wrapper.is-crossroad-view.is-fold .ly-map {
  margin-left: 5.4rem;
}
.wrapper.is-crossroad-view.is-fold.is-hover .crossroad-view-container {
  left: -24.3rem;
}

.ly-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ly-map {
  position: relative;
  width: 100%;
  height: calc(99.9vh - 20px);
  margin-left: 5.4rem;
}
.ly-map .ico-cw {
  position: absolute;
  z-index: 1;
}
.ly-map .ico-camera {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.ly-sub {
  width: 100%;
  height: calc(99.9vh - 20px);
  margin-left: 5.4rem;
  padding: 0 6rem;
}
.ly-setting .ui.breadcrumb {
  padding: 3.6rem 0 3.5rem;
}
.ly-setting .filter-grouop {
  margin-bottom: 3.7rem;
}
.ly-setting .button-function-group {
  margin-bottom: 1.3rem;
}
.ly-copyright {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-top: 1px solid #b8b8b8;
  background: #e7e7e7;
  color: #b8b8b8;
}
.ly-copyright.c-white {
  background: #fff;
}

/* GNB */
.gnb {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  overflow: hidden;
  width: 5.4rem;
  height: calc(100% - 2rem);
  background: #1e5f8d;
}
.gnb.is-open {
  overflow: visible;
  width: 18rem;
}
.gnb.is-open > h1 {
  overflow: auto;
  width: 12.2rem;
  height: auto;
  background: none;
}
.gnb.is-open > h1 img {
  display: block;
}
.gnb.is-open .ui.menu {
  width: 100%;
}
.gnb > h1 {
  overflow: hidden;
  margin: 3.3rem 0 0 1.3rem;
  width: 2.8rem;
  height: 3.3rem;
  background-image: url("/base/images/logo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.gnb > h1 img {
  display: none;
}
.gnb .ui.menu {
  width: 18rem;
  margin-top: 1.9rem;
  background: transparent;
  font-size: 1.6rem;
}
.gnb .ui.menu > .dropdown {
  font-size: 1.6rem;
}
.gnb .ui.menu > .dropdown.upward2 > .menu {
  position: fixed;
  top: auto !important;
  bottom: 2rem;
  left: 18rem;
}
.gnb .ui.menu > .dropdown .menu > .item {
  padding: 0 !important;
}
.gnb .ui.menu > .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 4.5rem;
  padding: 0 0 0 1.6rem;
  color: #fff;
  letter-spacing: -0.07rem;
}
.gnb .ui.menu > .item::before {
  position: static;
  width: auto;
  height: auto;
  margin-right: 1.6rem;
  background: none;
}
.gnb .ui.menu > .item .dropdown.icon {
  float: none;
  margin-left: auto;
}
.gnb .ui.menu > .item.link-dashboard::before {
  content: "";
  display: block;
  width: 2.2rem;
  height: 1.8rem;
  background-image: url("/base/images/icon_home.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  display: block !important;
}
.gnb .ui.menu > .item.link-dashboard:hover::before {
  background-image: url(/base/images/icon_home_yellow.png);
}
.gnb .ui.menu > .item.link-map::before {
  content: "";
  display: block;
  width: 2.2rem;
  height: 2.1rem;
  background-image: url("/base/images/icon_map.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.gnb .ui.menu > .item.link-map:hover::before {
  background-image: url(/base/images/icon_map_yellow.png);
}
.gnb .ui.menu > .item.link-set::before {
  content: "";
  display: block;
  width: 2.1rem;
  height: 2.1rem;
  background-image: url("/base/images/icon_set.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.gnb .ui.menu > .item.link-set:hover::before {
  background-image: url(/base/images/icon_set_yellow.png);
}
.gnb .ui.menu > .item.link-search::before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("/base/images/icon_search.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  margin-right: 1.3rem;
}
.gnb .ui.menu > .item.link-search:hover::before {
  background-image: url(/base/images/icon_search_yellow.png);
}
.gnb .ui.menu > .item.link-crossroad {
  padding-left: 1.3rem;
}
.gnb .ui.menu > .item.link-crossroad::before {
  content: "";
  display: block;
  width: 2.7rem;
  height: 2rem;
  background-image: url("/base/images/icon_crossroad.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  margin-right: 1.3rem;
}
.gnb .ui.menu > .item.link-crossroad:hover::before {
  background-image: url(/base/images/icon_crossroad_yellow.png);
}
.gnb .ui.menu > .item.link-crosswalk {
  padding-left: 1.3rem;
}
.gnb .ui.menu > .item.link-crosswalk::before {
  content: "";
  display: block;
  width: 2.7rem;
  height: 2rem;
  background-image: url("/base/images/icon_crosswalk.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  margin-right: 1.3rem;
}
.gnb .ui.menu > .item.link-crosswalk:hover::before {
  background-image: url(/base/images/icon_crosswalk_yellow.png);
}
.gnb .aside {
  margin-top: auto;
}

/* 지도 > 교차로 상세 메뉴 */
/** 통계 **/
.crossroad-view-container {
  position: fixed;
  left: 5.4rem;
  top: 0;
  z-index: 8;
  width: 42.2rem;
  height: calc(100% - 2rem);
  background: #fff;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
}
.crossroad-view-container > h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 0 0.6rem;
  padding: 4rem 2.4rem 1.8rem 2.4rem;
  font-size: 2rem;
  font-weight: 600;
  color: #858585;
}
.crossroad-view-container > h2::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 1.4rem;
  background-image: url("/base/images/icon_dot_double.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.crossroad-view-container .tab.segment > section > .tit {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #6d6d6d;
}
.crossroad-view-container .display-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 1rem;
}
.crossroad-view-container .display-info .left {
  color: #1e5f8d;
  font-size: 2rem;
  font-weight: 500;
}
.crossroad-view-container .display-info .left em {
  font-size: 2.8rem;
  font-weight: 700;
}
.crossroad-view-container .progress-bar {
  margin-bottom: 1.4rem;
}
.crossroad-view-container .stats-traffic {
  padding: 3.7rem 4rem 3.1rem;
  border-bottom: 1px solid #dcdcdc;
}
.crossroad-view-container .stats-speed {
  padding: 2.6rem 4rem;
  border-bottom: 1px solid #dcdcdc;
}
.crossroad-view-container .stats-speed .display-info .left em i {
  font-size: 2.2rem;
}
.crossroad-view-container .stats-speed .chart-container {
  height: 14.4rem;
}
.crossroad-view-container .stats-los {
  padding: 2.6rem 4rem;
}
.crossroad-view-container .stats-los .display-info .left em {
  font-size: 3.2rem;
  color: #e57003;
}
.crossroad-view-container .stats-los .chart-container {
  height: 15rem;
}
.crossroad-view-container .chart-container .dummy-img {
  display: block;
}
.crossroad-view-container .btn-crossroad-view {
  position: absolute;
  top: 50%;
  right: -2.4rem;
  width: 2.4rem;
  height: 6rem;
  margin-top: -3rem;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  background: #fff;
  border: 1px solid #c9c9c9;
  -webkit-box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.crossroad-view-container .btn-crossroad-view::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.3rem;
  margin-top: -0.95rem;
  width: 0.6rem;
  height: 1.9rem;
  background-image: url("/base/images/arr_left_gray.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

/* 텍스트 디자인으로 구성된 라디오 버튼 그룹 */
.unit-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  gap: 0.4rem 0;
}
.unit-group .bind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  gap: 0 1rem;
}
.unit-group .bind .radio-txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.unit-group .bind .radio-txt span {
  display: block;
}

/*---------------------------------------------------------------
  [Animation keyframes]
-----------------------------------------------------------------*/
@-webkit-keyframes opacity-ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity-ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*---------------------------------------------------------------
  [미디어 쿼리]
-----------------------------------------------------------------*/
@media screen and (max-height: 899px) {
  /* 공통 : 레이아웃 높이 값 조정 */
  .ly-map {
    height: 88rem;
  }
  .ly-sub {
    height: 88rem;
  }
  /* gnb : 높이 값 조정 */
  .gnb {
    height: 100%;
  }
  /* 교차로 통계 메뉴 : scroll-y값 추가 */
  .crossroad-view-container {
    height: 100%;
  }
  .crossroad-view-container .ui.tab.segment {
    overflow-y: auto;
    max-height: calc(100% - 118.45px);
  }
}